{% extends 'base/_layout.html' %}

{% block content %}
     <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="{% url 'assetslist' %}" title="Go to Home" class="tip-bottom">
                    <i class="icon-home"></i> 资产管理
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="">
               <!-导航栏>

              <div class="nav" style="width: 50%;margin-left: 5px;">
                  <button class="btn btn-info pos" onclick="">资产信息</button>
                  <div class="btn-group pos" >
                      <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">机房 <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                  </div>
                  <div class="btn-group pos">
                    <button class="btn btn-primary">资产类型</button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <div class="btn-group pos">
                    <button class="btn btn-primary">资产状态</button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
              </div>
            </div>


            <div class="span10">
                <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <div class="checker" id="uniform-title-checkbox">
                            <span>
                                <input type="checkbox" id="title-checkbox" name="title-checkbox" >
                            </span></div>
                    </span>
                    <h5>Static table with checkboxes</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>主机名</th>
                                <th>IP地址</th>
                                <th>机房</th>
                                <th>用途</th>
                                <th> 操作系统 </th>
                                <th> cpu核数 </th>
                                <th> 内存 </th>
                                <th> 硬盘 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                          <tbody>

                        </tbody>
            </table>
          </div>
        </div>
            </div>

        </div>
    </div>
{% endblock %}